<br>
<div class="jumbotron">
  <h1>Welcome to Firebase meetupers opinion collector!</h1>
  <button class="btn btn-warning" [ngClass]="{'btn-danger': isPropagandaMode}" (click)="propagandaMode()">Show only good reviews</button>&nbsp;
  <button class="btn btn-info" (click)="isAdmin = !isAdmin">Admin</button>
</div>
<h2>How would you rate Firebase's ease of use: </h2>
<ul>
  <li style="margin-bottom: 0.5em" *ngFor="let m of meetupers$ | async"><strong>{{m.name}}</strong> {{m.score}} / 5 <button class="btn btn-sm btn-danger" (click)="remove(m)" *ngIf="isAdmin">remove</button></li>
</ul>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add your opinion</h5>
    <div class="form-group">
      <input placeholder="Your name" class="form-control" [formControl]="name" required>
    </div>
    <div class="form-group">
      <select class="form-control" [formControl]="score" required>
        <option *ngFor="let opt of [1, 2, 3, 4, 5]" [value]="opt">{{opt}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="save()">Save</button>
    </div>
  </div>
</div>
